.selected {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    
    width: 6px;
    height: 35px;
    background-color: #128C2E; 
    
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* --- TICKET CONTROLS (SEARCH & FILTERS) --- */
.ticket-controls {
    display: flex;
    gap: 12px;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 20px;
}

.search-bar {
    background-color: #DDE0E5;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    width: 250px;
    font-size: 15px;
    font-family: inherit;
    color: #333;
    outline: none;
}

.search-bar::placeholder {
    color: #888;
}

.filter-btn, .filter-tag {
    background-color: #DDE0E5;
    border: none;
    padding: 12px 20px;
    border-radius: 30px;
    font-size: 15px;
    font-family: inherit;
    color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.2s;
}


